.xlogo {
  width: 600px;
  height: 600px;
}

.pageheadings{
display: flex;
align-items: flex-end;
justify-content: flex-end;
}

.loginform{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20rem;
   
}

#signin{
    width: 400px;
    float: right;
    margin-top: 5rem ;
    margin-right: 15rem;
}

#indexheading{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-weight: bold; */
    
}
/* html, body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */