.profileCard {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top:  2rem;
    margin-bottom: 20px;
    background-color: black;
   
  }

  .profileCard img {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profileCard div h5 {
    margin: 0;
    font-size: 1.25rem;
    
  }
  
  .profileCard div p {
    margin: 5px 0 0;
    color: #666;
  }

  #pfp{
    width: 4rem;
    border-radius: 50%;
    border-color: #ddd;
  }

  #sidebar{
margin-left: 0;
  }

  #feed{
    width: 40rem;
  }

  .nav-link:focus, .nav-link active{
    outline: none;
    box-shadow: none;
  }

  .nav-link active{
    color: white;
    background-color: black;
  }